extends layout

block content

    #addBlog(style='float:left')
        form(action='/blog/add' method='post')
            span topic：
                br
                input(name='topic' required='required' size='20' style='width:350px;height:21px')
            br
            span content:
                br
                textarea(id='text-input' name='content' cols='70' rows='30' placeholder='需要自行添加样式，栗子：## something' required='required' oninput="this.editor.update()")
            br
            button(type='submit') submit
    #markdown(style='float:left;position:relative;left:100px')
        #preview


    script
        include ../public/javascripts/blog.js