extends layout

block content

    if errorMsg
        p #{errorMsg}

    #index-login
        form(action='/login' method='post')
            #index-username
                input(name='username' type='text' placeholder='USERNAME')
            #index-password
                input(name='password' type='password' placeholder='PASSWORD')
            #index-buttom
                input(type='submit' value='LOG IN')
                input(type='button' value='REGISTER' onclick='register()')

    script
        include ../public/javascripts/index.js
