doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        #banner
            p You hold on, you be strong.
        block content

