doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/markdown.js')
    body
        #banner
            p You hold on, you be strong.
        block content

